*{
    margin: 0;
    padding: 0;
}



section#list-sport{
    margin-top: 3em;
}
.navbar img{
    height: 40px;
    width: 40px;
}
/*dimensions des images, s'ajuste avec la taille de l'écran*/
section#list-sport img{
width: 100%;
height: 50%;
}
.heading{
text-align: center;
}
.hero-section{
    max-width: 100%;
    height: auto;
    background-color: red ;
    text-align: center;
    color: black;
    padding-top: 10rem;
    
}
.hero-heading{
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 2.5rem;
}
/*footer*/
.footer-services {
    background-color: red;
    border-top: 1px;
    max-width: 100%;
    height: auto;
    text-align: center;
}
.footer-services, p {
    font-weight: bold;
}

/*mobile first*/

@media screen and (max-width: 900px ){
    section .div {
        width: 90%;
    }
}

