*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(206, 198, 198);

}
h1, h2{
    background-color: red;
    color: white;
    text-align: center;
    border: 2px solid red;
}

/*mise en forme des images*/
section#list-sport img{
    width: 100%;
    height: 50%;
}

/*mobile first*/

@media screen and (max-width: 900px ){
    section .div {
        width: 90%;
    }
}